body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.head h1 {
  color: #5f5d5d;
}

.head h2 {
  color: #5f5d5d;
  font-size: 1.5rem;
}

.centrado {
  text-align: center;
  width: 100%;
}

.izquierda {
  text-align: left;
}

.derecha {
  text-align: right;
  margin-right: 10px;
}

.btn {
  margin-right: 5px;
  border-color: #789ce8 !important;
  background-color: transparent !important;
  color: #5f5d5d !important;
}

.botonMenu {
  margin: 10px;
}

.head .App-logo {
  width: 100px;
  height: 200px;
}

div.head {
  margin-top: 5px;
  background: url('/bench-accounting-nvzvOPQW0gc-unsplash.jpg') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.head > div:first-child {
  text-align: left;
}

.head h1 {
  margin-left: 20px;
}

.head > div:last-child {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  margin: 10px;

  flex-basis: calc(33.33% - 20px);
  min-height: 300px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  
}

.card:nth-child(1) {
  flex-basis: calc(100% - 20px);
}

.card:nth-child(2) {
  flex-basis: calc(50% - 20px);
}

.card:nth-child(3) {
  flex-basis: calc(50% - 20px);
}

.card-title {
  text-align: left;
  background-color: #8da6c256;
}

.card-title span{
  color:grey;
  margin-left: 10px;
  font-size: 1em;
}

.card-body {
  padding: 0.75rem !important;
}

.card-body span {
  color: #909090;
}

form {
  margin: 20px;
}

.ck-editor__editable_inline {
  min-height: 400px !important;
}





