body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head h1 {
  color: #5f5d5d;
}

.head h2 {
  color: #5f5d5d;
  font-size: 1.5rem;
}

.centrado {
  text-align: center;
}

.btn {
  margin-right: 5px;
  border-color: #789ce8 !important;
  background-color: transparent !important;
  color: #5f5d5d !important;
}

.botonMenu {
  margin: 10px;
}

.head .App-logo {
  width: 100px;
  height: 100px;
}

div.head {
  margin-top: 10px;
}
.head > div:first-child {
  text-align: left;
}

.head h1 {
  margin-left: 20px;
}

.head > div:last-child {
  text-align: center;
}

.card {
  margin: 10px;
  text-align: left;
}

.card-title span{
  color:grey;
  margin-left: 10px;
  font-size: large;
}

.card-body {
  padding: 0.75rem !important;
}

.card-body span {
  color: #909090;
}

form {
  margin: 20px;
}





